<!DOCTYPE html>

<head>
    <title>Educational Institute</title>

</head>
<body>

    <style>
        .Header {
        }

            .Header img {
                width: 100%;
                height: 150px
            }
        .contact {
            color:white ;
            margin: auto;
            width: 100%;
            height: 700px;
            border: 3px solid red;
            padding: 10px;
            background:black
           
        }

       


    </style>

    <div class="Header">
        <img src="~/images/banner.jpg" />
    </div>


    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="Home">Educational Institute</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="Home">Home</a></li>

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="About">About<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="About/Information">Information</a></li>
                        <li><a href="About/Mission">Mission</a></li>
                        <li><a href="About/Chancellor_and_Principal_Officers">Chancellor and Principal Officers</a></li>
                    </ul>
                </li>



                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Academics<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="Academics/Courses_and_Tuition_Fees">Courses & Tuition Fees</a></li>
                        <li><a href="Academics/Academic_Calender">Academic Calender</a></li>
                    </ul>
                </li>

                <li><a href="Faculty">Faculty</a></li>
                <li><a href="Admission">Admission</a></li>
                <li><a href="Contact">Contact</a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="Sign_Up"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a href="Login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
        </div>
    </nav>


    <div class="contact">
        <p>
            <h1>Contact</h1> <br>

            <h2>Educational Institute Postal Address </h2>
            <br>66 Mohakhali
            <br>Dhaka 1212
            <br>Bangladesh

            <h2>Telephone, Fax:</h2><br>
            Phone: +880-2-9844051-4 (PABX) (Information Desk ext. 4003), +880-2-9853948-9<br>
            Fax: +880-2-58810383, +880-2-9856163<br>

             <h2>E-mails:</h2>
            info@bracu.ac.bd  (General information)<br>
            admissions@bracu.ac.bd  (Admissions)<br>
            academic.records@bracu.ac.bd  (Academic records & examination)<br>
            program.regi@bracu.ac.bd  (Student advising, registration, scheduling)<br>
            doctor@bracu.ac.bd  (University medical centre)<br>
            librarian@bracu.ac.bd  (University library)<br>
            csoadmin@bracu.ac.bd  (Office of Career Services & Alumni Relations)<br>
            communications@bracu.ac.bd  (Office of Communications)<br>
            registrar@bracu.ac.bd  (University Registrar)<br>

        </p>
        
        
        
        
    </div



</body>
</html>
