<!DOCTYPE html>

<head>
    <title>Educational Institute</title>

</head>
<body>

    <style>
        .Header {
        }

            .Header img {
                width: 100%;
                height: 150px
            }
        .calender {
            margin: auto;
            width: 100%;
            height: 250px;
            border: 3px solid green;
            padding: 10px;
        }
    </style>

    <div class="Header">
        <img src="~/images/banner.jpg" />
    </div>


    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="Home">Educational Institute</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="Home">Home</a></li>

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="About">About<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="About/Information">Information</a></li>
                        <li><a href="About/Mission">Mission</a></li>
                        <li><a href="About/Chancellor_and_Principal_Officers">Chancellor and Principal Officers</a></li>
                    </ul>
                </li>



                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Academics<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="Academics/Courses_and_Tuition_Fees">Courses & Tuition Fees</a></li>
                        <li><a href="Academics/Academic_Calender">Academic Calender</a></li>
                    </ul>
                </li>

                <li><a href="Faculty">Faculty</a></li>
                <li><a href="Admission">Admission</a></li>
                <li><a href="Contact">Contact</a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="Sign_Up"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a href="Login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
        </div>
    </nav>

    <div class=" calender">
        <div class="row">
            <div class="col-sm-4">04-Sep-18</div>
            <div class="col-sm-4">Orientation</div>

        </div>
        <div class="row">
            <div class="col-sm-4">05-Sep-18</div>
            <div class="col-sm-4">First Day of Classes (For Regular Students)</div>

        </div>
        <div class="row">
            <div class="col-sm-4">06-Sep-18</div>
            <div class="col-sm-4">
                First day of Classes (For Freshman Students)</div>

        </div>
        <div class="row">
            <div class="col-sm-4">08-Sep-18 to 12-Sep-18</div>
            <div class="col-sm-4">Adding/ Dropping</div>

        </div>
        <div class="row">
            <div class="col-sm-4">18-Sep-18</div>
            <div class="col-sm-4">Submission of TSF and course description</div>

        </div>
        <div class="row">
            <div class="col-sm-4">22-Sep-18</div>
            <div class="col-sm-4">Makeup of Sunday Class (Freshman sections only)</div>

        </div>
        <div class="row">
            <div class="col-sm-4">23-Sep-18</div>
            <div class="col-sm-4">Automatic conversion of UW, I, blank grades of Summer 2017-18 Semester to F</div>

        </div>
        <div class="row">
            <div class="col-sm-4">28-Sep-18</div>
            <div class="col-sm-4">Submission of midterm exam manuscripts</div>

        </div>
        <div class="row">
            <div class="col-sm-4">01-Oct-18</div>
            <div class="col-sm-4">Laboratory midterm exams</div>

        </div>


    </div>



</body>
</html>
