<!DOCTYPE html>

<head>
    <title>Educational Institute</title>

</head>
<body>

    <style>
        .Header {
        }

            .Header img {
                width: 100%;
                height: 150px
            }
    </style>

    <div class="Header">
        <img src="~/images/banner.jpg" />
    </div>


    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="Home">Educational Institute</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="Home">Home</a></li>

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="About">About<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="About/Information">Information</a></li>
                        <li><a href="About/Mission">Mission</a></li>
                        <li><a href="About/Chancellor_and_Principal_Officers">Chancellor and Principal Officers</a></li>
                    </ul>
                </li>



                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Academics<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="Academics/Courses_and_Tuition_Fees">Courses & Tuition Fees</a></li>
                        <li><a href="Academics/Academic_Calender">Academic Calender</a></li>
                    </ul>
                </li>

                <li><a href="Faculty">Faculty</a></li>
                <li><a href="Admission">Admission</a></li>
                <li><a href="Contact">Contact</a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="Sign_Up"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a href="Login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
        </div>
    </nav>
    <div class="Information">

        <h2>INFORMATION</h2><br>
        <h4>Overview of Educational Institute</h4>
        <p>
            Educational Institute is a government approved  university founded in 2018 by
            S M Abdullah. The university is an independent organization with its own Board of Trustees.
        </p>


        <h2>
            Vision
        </h2>
        <p>
            Educational Institute
            envisions promoting professionals and excellent leadership
            catering to the technological progress and development needs of the country.
        </p>
        <br>


        <h2>Quality Policy</h2>
        <p>
            “Quality shall be adhered to in conformity with the prescribed national
            and international standards of quality and excellence including those provided by the
            professional bodies and organizations. The American International University- Bangladesh
            is committed to translate into actions the programs, projects and activities related to the
            sustainable delivery of quality management operation system. The students being the valued
            customers are the central focus of the university shall be provided with utmost care and
            attention to meet their primordial needs and future career success. In view of this commitment,
            the university shall exert best efforts to harmonize its action through collaboration,
            cooperation and consultation with every unit and components of the university.”
        </p>

        <h2>Linkages and Networking</h2>
        <p>
            ->Microsoft Security Cooperation Program (SCP)<br>
            ->Microsoft IT Academy (www.cec.aiub.edu)<br>
            ->MSDNAA (www.cec.aiub.edu)<br>
            ->CCNA and IT Essentials in collaboration with CISCO (www.cec.aiub.edu)<br>
            ->Authorized Sun Education Centre (www.cec.aiub.edu)<br>
            ->Education Partner of Bangladesh Cricket Board (www.cec.aiub.edu)<br>
            ->Oracle Academy (www.cec.aiub.edu)<br>
            ->Certifies Internet Web (CIW) Professional Program (www.cec.aiub.edu)<br>
            ->CTP Authorized Training Academy (www.cec.aiub.edu)<br>
            ->The Duke of Edinburgh's International Award (www.intaward.org)<br>
        </p>

        <h2>Institutional member:</h2>
        <p>
           1. Asia Pacific Quality Network (APQN)<br>
           2. International Association of Universities (IAU)<br>
           3. International Association of University Presidents (IAUP)<br>
           4. American Association of University Administrators (AAUA)<br>
           5. Association of Universities of Asia and Pacific (AUAP - Board Member)<br>
           6. Global University Network for Innovation (GUNI)<br>
           7. Association of Management Development In South Asia (AMDISA)<br>
        </p>


    </div>




</body>
</html>
