<!DOCTYPE html>

<head>
    <title>Educational Institute</title>

</head>
<body>

    <style>
        .Header {
        }

            .Header img {
                width: 100%;
                height: 150px
            }
             .mission{
            color:dodgerblue ;
            margin: auto;
            width: 100%;
            height: 350px;
            border: 3px solid black;
            padding: 10px;
            float:left;
           
        }
    </style>

    <div class="Header">
        <img src="~/images/banner.jpg" />
    </div>


    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="Home">Educational Institute</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="Home">Home</a></li>

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="About">About<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="About/Information">Information</a></li>
                        <li><a href="About/Mission">Mission</a></li>
                        <li><a href="About/Chancellor_and_Principal_Officers">Chancellor and Principal Officers</a></li>
                    </ul>
                </li>



                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Academics<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="Academics/Courses_and_Tuition_Fees">Courses & Tuition Fees</a></li>
                        <li><a href="Academics/Academic_Calender">Academic Calender</a></li>
                    </ul>
                </li>

                <li><a href="Faculty">Faculty</a></li>
                <li><a href="Admission">Admission</a></li>
                <li><a href="Contact">Contact</a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="Sign_Up"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a href="Login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
        </div>
    </nav>

    <div class="mission">


        <h1>MISSION</h1><br>
                        <p>

                            The mission of Educational Instute is to foster the national development process through 
                            the creation of a centre of excellence in higher education that is responsive to society's needs, 
                            and able to develop creative leaders. 
                            It actively contributes to learning and the creation of knowledge.




                        </p>


                        <h1>
                            GOAL


                        </h1>
                        <p>The goal of the University is to provide an excellent broad-based education with
        a focus on professional development for students,
        in order to equip them with the knowledge and skills necessary for leading the country
        in its quest for development. Along with this, the University provides an environment 
        for faculty development to ensure a dynamic teaching environment. Faculty will be
        provided with an environment in which they can further their teaching-learning abilities
        and contribute to the creation of new knowledge by developing and using their research skills.</p>
    </div>

</body>
</html>
